.img-fluid2{
  margin-top: 15px;
  margin-bottom: 100px;
}

h3{
  color: #0032a0;
  background-color: #ffad24;
}

h1{
  color: #ffad24;
  background-color: #0032a0;
}
p{
  color: #b2b4b1;
  background-color: #000000;
  font-family: Gill Sans Jackson Christian;
}